In [9]:
#string in detail

In [8]:
#string indexing
w="Kashaf Zahid"
print(w,type(w))

Kashaf Zahid <class 'str'>

In [2]:
#tO GET 'Z' FROM INDEX NUMBER...as 'Z' is on 7th number so we get 'z' as below
print(w[7])
print(w[-5])

Z
Z

In [7]:
#string slicing....>means to print specific part of string word by word.
#index number of 'Z' is 7 and string ends at 11,we can print string using range function here
#that is used in for loop where 7 is start point and 12 is condition and increment is by-default 1
#string iteration  ...> to print every letter separate
#method 01
t=len(w)
print(t)   #gives number of letters in string including space
for n in range(t):
    print(w[n])
print() 
#to print in reverse (my logic)
for n in range(-1,-13,-1):
    print(w[n])
print()  

#to print string in reverse
for n in range(t-1, -1, -1):
    
    print(w[n])
print()

12
K
a
s
h
a
f

Z
a
h
i
d

d
i
h
a
Z

f
a
h
s
a
K

d
i
h
a
Z

f
a
h
s
a
K

In [3]:
#slicing from left to right with 2 increment value
print(w[7:12])
print(w[0::2])

#slicing from right to left with -2 increment value
print(w[-1:-6:-1])
print(w[-1::-2])

Zahid
Ksa ai
dihaZ
dhZfha

In [5]:
#method 02
for a in w: 
    print(a)
print()

#to print string in reverse
#firstly reverse the string then print

w=w[-1::-1]   #string get reverse
#now print

for a in w:
    print(a)

d
i
h
a
Z

f
a
h
s
a
K

K
a
s
h
a
f

Z
a
h
i
d

In [10]:
#strings functions
u="KashafZahidiqbal"

In [14]:
# 1.lower() function (will print every letter in lower case)
n=u.lower()
print(n)
print()

kashafzahidiqbal

In [15]:
# 2.upper() function (will print every letter in upper case)
n=u.upper()
print(n)
print()

KASHAFZAHIDIQBAL

In [20]:
# 3.title() function (will print first letter of every word in upper case)
u="Kashaf zahid iqbal"
n=u.title()
print(n)
print()

Kashaf Zahid Iqbal

In [21]:
#capitalize() function (will print only first letter of first word in upper case)
u="Kashaf Zahid iqbal"
n=u.capitalize()
print(n)
print()

Kashaf zahid iqbal

In [22]:
#find() function
print(u.find('a')) #give index number of first 'a' in string
print(u.find('a',5))  #give index number of 'a' coming after 5 index number
print(u.find('t')) #return -1 because t is not in string....if letter is not in string then it will return -1

1
8
-1

In [24]:
# index() function
print(u.index('a',3)) #same as find
#but if you find letter in string through index function which is not in string then it will return error
#print(u.index('t'))  #give error here

4

In [26]:
#isalpha function (check if the string has only alphabets if there is only alphabets without space then it will return true)
u="K"
print(u.isalpha())

True

In [27]:
#isdigit() function (check if the string has only number if there is only number in string without space then it will return true)
w="1233"
print(w.isdigit())

True

In [28]:
#isalnum() function (check if the string has only alphabets and number both or have alphabets or number only)
#if there is only alphabets and number or alphabets or number only in string without space
#then it will return true
u="K"
print(u.isalnum())

True

In [29]:
#chr() and order()
print(chr(65)) #if we pass ASCI number it will return character at that ASCI's value (like A has 65 ASCI value)
print(ord('A'))#opposite of chr() function it will return character's ASCI number
print(chr(74649))

A
65
ð’Ž™

In [30]:
#format() function......used to add desired string inside other string
#with empty placeholder.....automatically add (added strings) in sequence inside main string
w='kashaf {} {} zahid {}'.format("daughter","of","iqbal")
print(w)
print()

#with numbered placeholder...add added strings according to their positions like "of" is at 1 position
w='kashaf {1} {2} zahid {0}'.format("daughter","of","iqbal")
print(w)
print()

#with named indexes placeholder....add added string at their variable name point
w='kashaf {we} {you} zahid {my}'.format(we="daughter",my="of",you="iqbal")
print(w)
print()

#{1:<10}..this mean add that string(which is at 1 position) in left most side of maximum 10 character string
#{1:>10}..this mean add that string(which is at 1 position) in right most side of maximum 10 character string
#{1:^10}..this mean add that string(which is at 1 position) in between of maximum 10 character string
w='kashaf {1:<10} {2:>10} zahid {0:^10}'.format("daughter","of","iqbal")
print(w)

kashaf daughter of zahid iqbal

kashaf of iqbal zahid daughter

kashaf daughter iqbal zahid of

kashaf of              iqbal zahid  daughter